@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  @include flex-center;
}

.page {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
}

.container {
  @include flex-center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.card {
  @include flex-center;
  border-radius: 10%;
  overflow: hidden;
}
