@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}
